
<div class="row bg-primary">
    <div class="col-md-12">
        <h1 class="display-4 text-center text-white">Mon Premier Site Symfony</h1>
        <p class="text-center text-success font-italic">La constance nous rendra meilleur.</p>
    </div>    
</div>
