<header>
    <div class="row head">
        <div class="col-md-4 log">
            <h4 class="text-danger font-italic titre">Votre Blog n°1 sur les FastCar</h4>
        </div>
        <div class="col-md-2">
            <img class="logoH" src="../public/img/fast-car-logo.png">
        </div>
        <div class="col-md-4 log">
           <button class="btn-dark"><a href="#">Se Connecter</a></button>
           <button class="btn-dark"><a class="text-danger" href="#">S'inscrire</a></button>
        </div>
    </div>
</header>    