<div class="row">
    <div class="col-md-4">
        <aside class="">
            <h6 class="text-primary text-center">Article des internautes</h6>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus esse tenetur facere amet! Cupiditate nam voluptatem tempora,
            animi inventore quas dignissimos porro quisquam provident tenetur doloremque
            facilis vel libero et dolorem reiciendis ab nemo suscipit praesentium, 
        </aside>
    </div>
    <div class="col-md-4">    
        <main>
            <h5 class="text-primary text-center">Article du Jour</h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia molestiae,
        accusamus impedit id dicta atque recusandae odio? Non, porro eligendi. Tempora
        distinctio earum animi sequi, sunt temporibus blanditiis sed quisquam?
        </main>
    </div> 
    <div class="col-md-4">    
        <aside>
            <h6 class="text-primary text-center">Article de la Veille</h6>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Laudantium beatae et sit nihil blanditiis, accusamus culpa 
        velit ullam voluptatibus ipsa officiis labore vero sed 
        voluptate voluptatum dolorem eos reprehenderit modi?
        </aside>
    </div>    
</div>

<div class="row">
    <div class="col-md-3 offset-md-1">
        <button class="btn btn-group"><a href="/friend">Voir nos rédacteurs</a></button>
    </div>
    <div class="col-md-5 offset-md-2">
        <h4 class="text-center text-primary font-italic">Inscrivez vous a la newlester</h4>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email addresse</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">Vos données ne seront pas partagés promis.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Validez</button>
          </form>
    </div>
</div>